
@media only screen and (min-width: 800px) {
.Outer_box{
    position: absolute;
    width: 1216px;
    height: 1072px;
/* left: 113px;
top: 1730px; */
    border: 4px solid #000000;
    box-sizing: border-box;
}
.title_box{
    position:absolute;
    top: 0;
    width: 100%;
    height: 20%;
    border-bottom: 4px solid #000000;
    box-sizing: border-box;
    background-color: #FFF0C9;
    ;
}
.explainer{
    font-family: Prompt;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
}
.title{
    font-family: Amiri;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    /* letter-spacing: 0.16em; */
}
.question_box{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 33%;
    height: 80%;
    border-right: 4px solid #000000;
    box-sizing: border-box;
    background-color: #D1E7F3;
}
.Question_Text {
    position: relative;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    text-align: left;
    width: 100%;
    margin-left: 10px;
    margin-right: 15px;
}
.answer{
    position: relative;
    background-color:#FFF0C9;
    margin: 10px;
    font-family: Prompt;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 30%;
}
.byline{
    position: absolute;
    bottom:0%;
    background-color: #FFF0C9;
    border-top: 4px solid #000000;
    font-family: Prompt;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
}

}
